<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>After a long and arduous process, I finally got this assignment finished. What a breath of relief.</h1>
            <p>You really have no idea how happy that makes me.</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <h2>
    Brian Buckley
    </h2>
</body>

</html>